.mapboxgl-popup {
  max-width: 80% !important;
  max-height: 80% !important;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 0px !important;
  background-color: #212529 !important;
}

.mapboxgl-popup-close-button {
  font-size: 2.5em;
  color: #FFFFFF;
  top: .1em !important;
}

#popupWithRealtimeData{
}

.table{
  margin-bottom: 0rem !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
  border-left-color: #212529 !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
  border-right-color: #212529 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: #212529 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color: #212529 !important;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
  border-top-color: #212529 !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
  border-top-color: #212529 !important;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
  border-bottom-color: #212529 !important;
}
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
  border-bottom-color: #212529 !important;
}